ul {
	padding-left: 0px;
}

li{
	display: inline-block;
	border-style: solid;
	background-color: blue;
	border-width: 1px;
	width: 3em;
	text-align: center;
}

#l2, .odd{	visibility: hidden; }

.prime,#l9{
	display: none; 
}